#brochures {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 50px 0px;
}

.brochures-content #logo {
    margin-bottom: 20px;
}

footer h3 {
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--main-color);
    padding-left: 50px;
}

footer p {
    font-size: 20px;
    color: var(--main-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 50px;
}

footer .search-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 50px;
    border: 1px solid var(--main-color);
}

.search-box {
    width: 70%;
    height: 60px;
    text-indent: 15px;
    font-style: italic;
    background-color: var(--sec-color);
    border: 1px solid white;
    color: var(--main-color);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 60px;
    border: none;
    background-color: var(--main-color);
    color: var(--sec-color);
    font-size: 15px;
}

footer .img-n-ul {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

footer .img-n-ul img {
    width: 70%;
    height: 280px;
}

footer ul a {
    color: var(--main-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 426px) {
    #brochures {
        margin-top: 100px;
        width: 80%;
        flex-direction: column;
    }

    .brochures-content #logo {
        margin-bottom: 20px;
    }

    footer h3 {
        font-size: 40px;
        padding-left: 0px;
    }

    footer p {
        margin: 20px 0;
        font-size: 18px;
        color: var(--main-color);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 0px;
    }

    footer .search-section {
        flex-direction: column;
        gap: 30px;
        border: none;
        margin: 50px 0;
    }

    .search-box {
        border: 1px solid var(--main-color);
        width: 100%;
        height: 80px;
        font-size: 14px;
    }

    button {
        width: 100%;
        height: 80px;
        font-size: 20px;
    }

    footer .img-n-ul img {
        margin-top: -50px;
        width: 200%;
    }

    footer .img-n-ul ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }

    footer .img-n-ul ul a {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 22px;
    }

    footer .img-n-ul {
        justify-content: space-between;
        flex-direction: column-reverse;
        margin-top: 40px;
        gap: 30px;
    }
}